body {
  font-family: 'Open Sans', Arial, sans-serif;
}
.cblue {color: blue;}

.nav a {margin-left: 10px}


.mouse-table-row-header, .mouse-table-cell, .mouse-table-column-header {
  display: flex;
  flex: 1;
  border-bottom: 1px solid silver;
  padding: 5px;
  justify-content: center;
}

.active {
  border-top: 1px solid blue;
  border-bottom: 1px solid blue;
  padding-top: 4px;
  padding-bottom: 4px;
}

.active.first { 
  border-left: 1px solid blue !important;
  padding-left: 4px;
}
.active.last { 
  border-right: 1px solid blue;
  padding-right: 4px; 
} 

.mouse-table {
  display: flex;
  flex-direction: column;
}

.mouse-table-header {
  display: flex;
  flex-direction: row nowrap;
}

.mouse-table-body {
  display: flex;
  flex-direction: column;
}

.mouse-table-row {
  display: flex;
  flex-direction: row nowrap;
}

